
#ignore file

# vscode settings
.vscode/

# .pyc files

*.pyc

#venv
dev_projects/investment_tracker/src/.venv/


#config file

financial_analysis/ASX_KGN/analysis.md
financial_analysis/ASX_KGN/KGN.xlsx
dev_projects/investment_tracker/src/test.py
dev_projects/investment_tracker/src/test2.py
dev_projects/investment_tracker/src/config.py
