
#ignore file

# vscode settings
.vscode/

# .pyc files

*.pyc

#venv
dev_projects/investment_tracker/src/.venv/
#config file
dev_projects/investment_tracker/src/config.py
dev_projects/investment_tracker/src/test.py
dev_projects/investment_tracker/src/test2.py
