# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
html5lib
beautifulsoup4
requests
lxml
azure-storage-file-datalake
python-dotenv
pandas